
        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        /* Estilos de la tabla */
        .salon-table {
            margin: 20px auto; /* Centrar la tabla horizontalmente */
            border-collapse: collapse;
            width: 80%; /* Ancho de la tabla */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
            border-radius: 10px;
            overflow: hidden; /* Evitar desbordamiento de sombra */
            background-color: #fff; /* Fondo blanco */
        }

        .salon-table th,
        .salon-table td {
            border: 1px solid #ddd; /* Borde gris claro */
            padding: 12px;
            text-align: left;
        }

        .salon-table th {
            background-color: #f2f2f2; /* Fondo gris claro */
            color: #333; /* Texto oscuro */
            font-weight: bold;
        }

        .salon-table tbody tr:nth-child(even) {
            background-color: #f9f9f9; /* Fondo gris muy claro */
        }

        /* Estilos para el botón de agregar */
        .button-list {
            list-style-type: none;
            padding: 0;
            text-align: center; /* Centrar elementos de la lista */
        }

        .button-list li {
            margin-bottom: 10px;
        }

        .button-list a {
            display: inline-block;
            background-color: #229439;
            color: white;
            text-decoration: none;
            margin-left: 20px;
            padding: 15px 30px;
            border-radius: 5px;
            transition: background-color 0.3s ease; /* Transición suave */
        }

        .button-list a:hover {
            background-color: #145028; /* Color de fondo al pasar el mouse */
        }

        /* Estilos para la ventana modal */
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #d9cdcd;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
            z-index: 1000;
            font-family: Arial, sans-serif;
            width: 80%; /* Ancho del modal */
            max-width: 400px; /* Ancho máximo del modal */
        }

        .modal-content {
            margin-bottom: 20px;
        }

        .close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: #9D2449;
            cursor: pointer;
        }

        .modal-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .modal-input {
            width: calc(100% - 10px);
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .modal-input:focus {
            outline: none;
            border-color: #9D2449;
        }

        .modal-button {
            background-color: #9D2449;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        .modal-button:hover {
            background-color: #7A1E39;
        }
                /* Estilos para los botones de actualizar y eliminar */
        .salon-table button {
            background-color: #9D2449; /* Color de fondo para los botones */
            color: #fff; /* Color del texto */
            border: none; /* Quita el borde */
            border-radius: 5px; /* Borde redondeado */
            padding: 8px 12px; /* Espaciado interno */
            margin-right: 5px; /* Margen derecho para separar los botones */
            cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
        }

        .salon-table button:hover {
            background-color: #7A1E39; /* Color de fondo al pasar el mouse */
        }

